<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 로그인 구현 위한 허용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 실행할 어플의 패키지 이름 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <queries>
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_namseoul_logo_foreground"
        android:label="NamSeoulCC"
        android:roundIcon="@mipmap/ic_namseoul_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"

        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver-->
<!--            android:name=".Receiver.BootReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".MapsActivity"
            android:exported="false" />

        <!-- 서비스 및 브로드캐스트리시버 등록 -->
        <service
            android:name=".GeofenceService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ForegroundServicePermission">
        </service>
        <service
            android:name=".WifiScanService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.LockerBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
<!--        <receiver-->
<!--            android:name=".WifiBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOxWoSNJFr_RVehG5SeU0dit1dO-7R7D0" />
    </application>

</manifest>